html, body {
  margin: 0;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    background-color: #fffbc7;

  }
   
  tr:nth-child(even) {
    background: #cfffc7;
  }
  tr:nth-child(odd) {
    background: #ffc7eb;
  }
   
  th, td {
    padding: 10px 30px;
  }
   
  th {
    border-bottom: 1px solid #d4d4d4;
  }     


  #settings {
    background-color: rgb(193, 255, 255);
    border-radius: 16px;
  }

  #settings, #replaceDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #replaceDiv {
    border-bottom: 2px solid rgb(109, 109, 109);
    border-radius: 16px;
  }

  #replaceDiv >* {
    margin: 5px;
  }

  form >* {
    margin: 5px;
  }